/* Importing Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f0f0f3a;
}

h2{
    text-align: center;
}
header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    
  }
  
  .navbar .logo {
    color: #fff;
    font-weight: 600;
    font-size: 4.5rem;
    text-decoration: none;
  }
  
  .navbar .logo span {
    color: #C06B3E;
  }
  
  .navbar .menu-links {
    display: flex;
    list-style: none;
    gap: 35px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease;
  }
  
  .navbar a:hover {
    color: #f12020;
  }
  #close-menu-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: none;
  }
  
  #hamburger-btn {
    color: #fff;
    cursor: pointer;
    display: none;
  }
  
  header.scrolled .navbar #hamburger-btn {
    display: none;
  }
  
  header.scrolled .navbar .logo {
    display: none;
  }
  
  header.scrolled .navbar .menu-links {
    display: none;
  }
  
  @media (max-width: 768px) {
    header {
      padding: 10px;
    }
  
    header.show-mobile-menu::before {
      content: "";
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(5px);
    }
  
    .navbar .logo {
      font-size: 1.7rem;
    }
  
      
    #hamburger-btn, #close-menu-btn {
      display: block;
    }
  
    .navbar .menu-links {
      position: fixed;
      top: 0;
      left: -250px;
      width: 250px;
      height: 100vh;
      background: #fff;
      flex-direction: column;
      padding: 70px 40px 0;
      transition: left 0.2s ease;
    }
  
    header.show-mobile-menu .navbar .menu-links {
      left: 0;
    }
  
    .navbar a {
      color: #000;
    }
  
section {
    padding: 40px;
}

.pricing-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.pricing-card {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.336);
    margin: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.pricing-card:hover {
    transform: scale(1.05);
}

.pricing-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.pricing-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.pricing-price {
    font-size: 24px;
    font-weight: bold;
    color: #e44d26;
    text-decoration: none;
}

@media (max-width: 768px) {
    .pricing-card {
        width: 100%;
    }
}

.design-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.design-card {
    width: 350px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.336);
    margin: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.design-card:hover {
    transform: scale(1.05);
}

.design-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.design-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.design-description {
    font-size: 14px;
    color: #4b4a4a;
    margin-bottom: 15px;
}
  }