@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
  .thanks{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: fixed;  }
  
  video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  .main-content__body{
    text-align: center;
    margin-right: 20px !important;
  }